

<nav class="navbar">
    <div class="logo">
      <i class="fab fa-youtube"></i> <!-- YouTube icon -->
      <span class="youtube-text">YouTube</span>
    </div>
    <div class="search-container">
      <input 
        type="text" 
        placeholder="Search..." 
        class="search-input" 
        [(ngModel)]="searchTerm" 
        (input)="filterVideos()" 
      />
      <i class="fas fa-search"></i>
    </div>
  
    <div class="icons">
     
      <a routerLink="/upload"><i class="fas fa-camera"></i></a>
     
       <i class="fas fa-bell" (click)="openNotificationsModal($event)">
        <span class="notification-count" *ngIf="notificationCount > 0">{{ formattedNotificationCount  }}</span>
       </i> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
      <div class="icon-container" (click)="toggleDropdown()">
        <img *ngIf="userProfilePic; else defaultIcon" [src]="userProfilePic" alt="Profile Picture" class="profile-pic" />
        <ng-template #defaultIcon>
          <span>👤</span>
            
        </ng-template>
        <div *ngIf="isDropdownOpen" class="dropdown-menu">
          <ul>
            
            
                <li><a routerLink="/user-video">{{ usernames }}</a></li> 
             
                <li (click)="deleteAccount()">Delete Account</li>
              <li><a routerLink="/edit-profile">Edit Profile</a></li>
              <li><a routerLink="/">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  
  <ng-template #notificationsModal let-modal class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Notifications</h5>
          <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
        </div>
        <div class="modal-body">
          <div *ngIf="videos.length > 0; else noVideos">
            <div *ngFor="let video of videos" class="video-item" (click)="handleVideoClick(video, modal)">
              <img *ngIf="userProfilePic1; else defaultIcon" [src]="userProfilePic1" alt="Profile Picture" class="profile-pic" />
              <ng-template #defaultIcon>
                <span>👤</span>
              </ng-template>
              <h3 style="margin-left: 20px; width: 100px;">{{ video.title }}</h3>
              <video class="styled-video" controls preload="metadata" [poster]="video.thumbnail" >
                <source [src]="video.url" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
          <ng-template #noVideos>
            <p>No videos are uploaded.</p>
          </ng-template>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.dismiss()">Close</button>
        </div> -->
      </div>
    </div>
  </ng-template>
  
  