<!-- <div class="container">

  <label>Video Title</label><br>
  <input type="text" [(ngModel)]="videoTitle" style="padding-right: 0px;" placeholder="Enter video title" /><br>

  <label>Video Description</label><br>
  <textarea [(ngModel)]="videoDescription" rows="3" placeholder="Enter video description"></textarea><br>


  <label>Upload Your Video</label><br>

  <input type="file" (change)="onVideoChange($event)" accept="video/*" /><br>
  <span *ngIf="videoError" style="color: red;">{{ videoError }}</span><br>

  <label>Upload Your Thumbnail</label><br>
  <input type="file" (change)="onThumbnailChange($event)" accept="image/*" /><br>
  
  <button (click)="upload()">Upload</button><br>
</div>
 -->



 <div class="container">
  <div class="info">
  <h1 style="width: 50%;">Channel content</h1>
  <div class="butt">
  
 
</div>
<button class="btn btn-primary" (click)="openModal()">Upload Video</button>
<a routerLink="/header" class="btn btn-secondary ms-2">Home</a> 
</div>
  <!-- Background Table -->
  <table class="video-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Video</th>
        <th>Thumbnail</th>
        <th>Like</th>
        <th>Views</th>
        <th>Dislike</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let video of videos">
        <td>{{ video.title }}</td>
        <td>{{ video.description }}</td>
        <td>
          <video width="200px" height="100px" controls>
            <source [src]="video.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </td>
        <td>
          <img [src]="video.thumbnail" alt="Thumbnail" style="width: 50px; height: 50px;" />
        </td>
        <td>{{ video.likes ?? 0 }}</td>
        <td>{{ video.views ?? 0 }}</td>
        <td>{{ video.dislikes ?? 0 }}</td>
      </tr>
    </tbody>
  </table>

</div>

  <ng-template #uploadModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Upload Video</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="videoTitle" class="form-label">Video Title</label>
        <input type="text" class="form-control" [(ngModel)]="videoTitle" name="videoTitle" placeholder="Enter video title" required />
      </div>
      <div class="mb-3">
        <label for="videoDescription" class="form-label">Video Description</label>
        <textarea class="form-control" [(ngModel)]="videoDescription" name="videoDescription" rows="3" placeholder="Enter video description" required></textarea>
      </div>
      <div class="mb-3">
        <label for="videoFile" class="form-label">Upload Your Video</label>
        <input type="file" class="form-control" (change)="onVideoChange($event)" accept="video/*" required />
        <div *ngIf="videoError" class="text-danger">{{ videoError }}</div>
      </div>
      <div class="mb-3">
        <label for="thumbnailFile" class="form-label">Upload Your Thumbnail</label>
        <input type="file" class="form-control" (change)="onThumbnailChange($event)" accept="image/*" required />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="upload(modal)">Upload</button>
    </div>
  </ng-template>
  
