<app-head 
[userProfilePic]="userProfilePic" 
[usernames]="usernames"
[filteredVideos]="filteredVideos || []"
(videosFiltered)="onVideosFiltered($event)"
(videoId)="OnpageFiltered($event)">
</app-head>
<div class="container d-flex">
  <!-- Main Video Container -->
  <div class="main-video">
    <div *ngIf="video">
      <video controls preload="metadata" [src]="video.url" [poster]="video.thumbnail" class="img-fluid w-100" autoplay>
        Your browser does not support the video tag.
      </video>
      <h1 class="title mt-3">{{ video.title }}</h1>

      <div class="video-info mt-3 d-flex justify-content-between align-items-center">
        <div class="video-title d-flex align-items-center">
          <div class="user-profile d-flex align-items-center">
            <ng-container *ngIf="getUserProfilePic(video.userId) !== 'assets/images/defaultProfilePic.jpg'; else defaultUserIcon">
              <img [src]="getUserProfilePic(video.userId)" alt="User Profile" class="user-profile-pic rounded-circle" />
            </ng-container>

            <ng-template #defaultUserIcon>
              <span class="default-icon">👤</span>
            </ng-template>
            <span class="ml-2">{{ getUserFullName(video.userId) }}</span>
          </div>

          <div class="ml-2 d-flex align-items-center">
            <button *ngIf="isSubscribedToUser[video.userId]; else subscribeTemplate" class="subscribe-button btn btn-secondary">Subscribed</button>
            <ng-template #subscribeTemplate>
              <button (click)="subscribe()" class="subscribe-button btn btn-primary">Subscribe</button>
            </ng-template>
          </div>
          
        </div>

        <div class="video-icons d-flex align-items-center">
          <span class="like-icon" (click)="incrementLike(video)" class="mr-3">
            <i class="fa fa-thumbs-up"></i>
            <span class="count">{{ video.likes ?? 0 }}</span> |
          </span>
          <span class="dislike-icon mr-3" (click)="incrementUnlike(video)">
            <i class="fa-solid fa-thumbs-down"></i>
            <span class="count">{{ video.dislikes ?? 0 }}</span> |
          </span>
          <span class="view-icon">
            <i class="fa-solid fa-eye"></i>
            <span class="count">{{ video.views ?? 0 }}</span>
          </span>
        </div>
      </div>

      <div class="video-description mt-3">
        <p *ngIf="!videoDescriptionExpanded[video.id]" class="description-text">
          <span class="truncated-text">{{ video.description | slice: 0:100 }}</span>
          <span *ngIf="video.description.length > 100">...</span>
          <button *ngIf="video.description.length > 100" (click)="toggleDescription(video.id)" class="read-more-button btn btn-link">Show More</button>
        </p>
        <p *ngIf="videoDescriptionExpanded[video.id]">{{ video.description }}</p>
        <button *ngIf="videoDescriptionExpanded[video.id]" (click)="toggleDescription(video.id)" class="read-more-button btn btn-link">Show Less</button>
      </div>


      <div class="comment-section mt-3">
        <div class="d-flex align-items-start">
          
          <img *ngIf="userProfilePic; else defaultIcon" [src]="userProfilePic" alt="User Profile" class="user-profile-user rounded-circle" />
          
          <ng-template #defaultIcon>
            <span>👤</span>
          </ng-template>
          
          <form #commentForm="ngForm" (submit)="addComment()" class="ml-2 flex-grow-1">
            <div class="form-group mb-0">
              <input 
                type="text" 
                class="comment-input" 
                name="comment" 
                required 
                placeholder="Add a comment..." 
                [(ngModel)]="newCommentText"
                (focus)="onInputFocus()" 
                (blur)="onInputBlur()" />
            </div>
           
            <div *ngIf="showButtons" class="button-group d-flex justify-content-end">
              <button type="button" class="btn btn-secondary mr-2 custom-button" id="newCommentText" (click)="newCommentText = ''; showButtons = false;">Cancel</button>
              <button type="submit" class="btn btn-primary custom-button" [disabled]="!newCommentText">Comment</button>
            </div>
          </form>
        </div>
      
        <!-- Displaying all comments -->
        <div class="comments-list mt-3" *ngIf="comments.length > 0">
          <h4>Comments:</h4>
          <div *ngFor="let comment of comments" class="comment-item">
            <div class="comment-user">
              <ng-container *ngIf="getUserProfilePic(comment.userId) !== 'assets/images/defaultProfilePic.jpg'; else defaultUserIcon">
                <img [src]="getUserProfilePic(comment.userId)" alt="User Profile" class="user-profile-pic rounded-circle" />
              </ng-container>
              <ng-template #defaultUserIcon>
                <span class="default-icon">👤</span>
              </ng-template>
              <span class="ml-2">{{ getUserFullName(comment.userId) }}</span>
            </div>
            <div class="comment-text">
              {{ comment.comment }}
            </div>
            <div class="comment-actions">
              <span class="like-icon" class="mr-3">
                <i class="fa fa-thumbs-up" (click)="likeComment(comment)"></i>
                <span class="count">{{ comment.likes ?? 0 }}</span> |
              </span>
              <span class="dislike-icon mr-3">
                <i class="fa-solid fa-thumbs-down" (click)="dislikeComment(comment)"></i>
                <span class="count">{{ comment.dislikes ?? 0 }}</span>
              </span>
              <button (click)="toggleReplyInput(comment.id)" class="btn btn-link ml-3" style="color:white">Reply</button>
            </div>
        
            <div class="but-replies">
              <button (click)="loadReplies(comment.id)">Replies {{ replyCount[comment.id] || 0 }}</button>
              <div *ngIf="replyVisibility[comment.id]">
                <div *ngIf="comment.replies && comment.replies.length > 0">
                  <div *ngFor="let reply of comment.replies" class="reply-item">
                    <div class="reply-text">{{ reply.replyText }}</div>
                    <div class="comment-actions">
                      <span class="like-icon" class="mr-3">
                        <i class="fa fa-thumbs-up" (click)="likeReply(reply)"></i>
                        <span class="count">{{ reply.likes ?? 0 }}</span> |
                      </span>
                      <span class="dislike-icon mr-3">
                        <i class="fa-solid fa-thumbs-down" (click)="dislikeReply(reply)"></i>
                        <span class="count">{{ reply.dislikes ?? 0 }}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- Reply Input Field -->
            <form *ngIf="isReplyInputVisible[comment.id]" #replyForm="ngForm" (ngSubmit)="submitReply(comment.id)" class="ml-2 flex-grow-1">
              <div class="form-group mb-0">
                <input 
                  type="text" 
                  class="reply-input" 
                  name="reply" 
                  required 
                  placeholder="Write your reply..." 
                  [(ngModel)]="replyText" 
                />
              </div>
              <div class="button-group d-flex justify-content-end">
                <button type="button" class="btn btn-secondary mr-2 custom-button" (click)="cancelReply(comment.id)">Cancel</button>
                <button type="submit" class="btn btn-primary custom-button" [disabled]="!replyText">Reply</button>
              </div>
            </form>
          </div>
        </div>
        
      </div>
      
      
    </div>
  </div>

  <!-- Remaining Videos Container -->
  <div class="remaining-videos">
    <div *ngFor="let video of filteredVideos" class="video-item">
      <div class="video">
      <video class="styled-video" 
             controls 
             preload="metadata" 
             [poster]="video.thumbnail" 
             (click)="handleVideoClick(video)"
             >
        <source [src]="video.url" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
      <div class="info">
        <h4 class="video-title-video">{{ video.title }}</h4>
        <span class="name">{{ getUserFullName(video.userId) }}</span>
        <span class="count1">{{ video.views ?? 0 }} views</span>
      </div>
    </div>
  </div>
  
  
  

</div>
